body {
  margin: 0;
}
.loading-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress-wrapper {
  padding: 2px 4px;
  height: 20px;
  border-radius: 16px;
  background-color: rgb(164, 149, 197);
  box-shadow:
    2px 2px 2px 2px #eee,
    inset 0 -8px 2px rgb(187, 172, 213);
}
.progress-number {
  font-family: 'Coiny', system-ui;
  font-size: 20px;
  margin-top: 4px;
}
#loading-progress {
  appearance: none;

  &::-webkit-progress-bar {
    border-radius: 8px;
    background-color: rgb(164, 149, 200);
    /* border: 2px solid; */
    box-shadow: inset 1px 2px 1px 1px rgb(113, 98, 155);
  }

  &::-webkit-progress-value {
    background: linear-gradient(
      to right,
      rgb(255, 220, 240),
      rgb(255, 180, 220)
    );
    box-shadow: inset 0 -2px 8px rgb(180, 140, 140);
    border-radius: 8px;
  }
}

#canvas {
  width: 100vw !important;
  height: 100vh !important;
  background-size: contain;
  background-size: 100%;
  background-repeat: no-repeat;
}

.landing-wrapper {
  height: 100vh;
  background-color: #fff5ee;
}
.landing-header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 16px;
  h1 {
    font-family: 'Coiny', system-ui;
    text-align: center;
    font-size: 32px;
  }
}
.landing-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-image-wrapper {
  position: relative;
}
.landing-image-back {
  position: relative;
  width: 40%;
  aspect-ratio: 4 / 3;
  border-radius: 256px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgb(164, 149, 200);
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  display: flex;
}
.landing-image {
  margin: auto;
  height: 100%;
}
.back-text {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: rotate(-10deg) translate(-1%, -50%);
}

.text-row {
  display: flex;
  white-space: no-wrap;
  overflow: hidden;
  width: 200%;

  p {
    position: relative;
    font-size: 88px;
    margin: 0;
    min-width: 1920px;
    font-family: 'Bagel Fat One', system-ui;
    animation: move-words 6s linear infinite;
  }

  &:nth-of-type(2) p {
    font-family: 'Moirai One', system-ui;
    font-size: 80px;
    animation: move-words-reverse 6s linear infinite;
  }
}
.tooltip {
  position: absolute;
  top: calc(100% + 30px);
  left: calc(50% - 150px);
  width: 300px;
  padding: 16px;
  box-sizing: border-box;
  background-color: rgb(255, 180, 220);
  border-radius: 8px;
  animation: bounce 1s ease-in-out infinite;
  font-family: 'Bagel Fat One', system-ui;
  font-size: 24px;
  z-index: 9;

  &::after {
    content: ' ';
    position: absolute;
    top: -30%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 180, 220) transparent;
  }

  p {
    margin: 0;
    text-align: center;
    color: white;
  }
}

div:has(.html-component-wrapper) {
  transform: none !important;
}

@keyframes move-words {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes move-words-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}
.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.85);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: 'Jua', sans-serif;

    &:first-of-type {
      font-size: 32px;
    }
    &:last-of-type {
      cursor: pointer;
    }
  }
}
.modal-wrapper {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  width: 60%; /* This just a default width */
  height: 600px;
  animation: modal-up 0.4s;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal-content {
  height: 100%;
}
.works-modal-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  height: 100%;

  div {
    border: 1px solid red;
    padding: 16px;
  }
}

@keyframes modal-up {
  from {
    top: 100%;
  }
  to {
    top: 50%;
  }
}
