.html-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -9;
}

h1,
h2 {
  margin: 0;
}

.section-wrapper {
  width: 100vw;
  height: 100vh;

  &:nth-of-type(1) {
    background: linear-gradient(to bottom, #f6ead5, #f6d9d5);
  }
  &:nth-of-type(2) {
    background: linear-gradient(to bottom, #f6d9d5, #fff5de);
  }
  &:nth-of-type(3) {
    background: linear-gradient(to bottom, #fff5de, #c9df8a);
  }
  &:nth-of-type(4) {
    background: linear-gradient(to bottom, #c9df8a, #ffd5b3);
  }
}

.content-wrapper {
  width: 100%;
  height: 100%;
  padding: 64px;
  position: relative;
  border: 1px solid black;
  /* margin: 128px 64px; */
}

.back-title {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  h1 {
    z-index: 9;
    width: 100%;
    position: absolute;
    top: 4rem;
    right: 0;
    font-size: 10rem;
    text-align: right;
    /* transform: rotate(90deg); */
    /* letter-spacing: 1rem; */
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  margin: auto;
  padding: 16px;
  width: 50%;
  height: 80%;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.05); */
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  /* backdrop-filter: blur(10px); */
}
