.html-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.floating-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.html-header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 16px;
  z-index: 9;

  h1 {
    font-family: 'Coiny', system-ui;
    text-align: center;
    font-size: 2rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}
h1,
p {
  margin: 0;
}

.section-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;

  &:nth-of-type(1) {
    background: linear-gradient(to bottom, #f6ead5, #f6d9d5);

    .back-title h1 {
      right: 45%;
      gap: 80%;
    }
  }
  &:nth-of-type(2) {
    background: linear-gradient(to bottom, #f6d9d5, #bae1ff);

    .back-title h1 {
      transform: rotate(-15deg);
      right: 0;
      bottom: 0;
    }
  }
  &:nth-of-type(3) {
    background: linear-gradient(to bottom, #bae1ff, #c9df8a);

    .back-title h1 {
      right: 5%;
      transform: rotate(-15deg);
    }
  }
  &:nth-of-type(4) {
    background: linear-gradient(to bottom, #c9df8a, #ffd5b3);

    .back-title h1 {
      width: 100%;
      top: 45%;
      right: 0;
      /* gap: 35%; */
      justify-content: space-between;
      font-size: 14rem;
    }
  }
}

.back-title {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  /* z-index: 1; */

  h1 {
    display: flex;
    position: absolute;
    top: 40%;
    right: 50%;
    /* z-index: 9; */
    opacity: 0.2;
    font-family: 'Moirai One', system-ui;
    font-size: 18rem;
    letter-spacing: 1rem;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 60%;
  border-radius: 8px;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  /* z-index: 3; */

  p {
    font-size: 3rem;
    font-family: 'Bagel Fat One', system-ui;
  }
  &.skills {
    padding: 0 5%;
    width: 100%;
    height: fit-content;
    top: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      position: relative;

      &:nth-of-type(1) {
        width: 300px;
      }
      &:nth-of-type(2) {
        width: 250px;
      }
      &:nth-of-type(3) {
        width: 200px;
      }
      &:nth-of-type(4) {
        width: 200px;
      }
      &:nth-of-type(5) {
        width: 150px;
      }

      img {
        width: 100%;
      }
      p {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        position: absolute;
        transform: translateY(-46px);
      }
    }
  }
  /* works 컴포넌트는 floating-wrapper 의 자식 */
  &.works {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 240vh;

    > div {
      width: 30%;
      height: 300px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 16px;

      > div {
        /* background-color: rgba(255, 255, 255, 0.3); */
        background-color: #f0f7da;
        border-radius: 32px;
        box-shadow: rgba(2, 2, 3, 0.2) 0px 8px 24px;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 16px;

        img {
          width: 64px;
          aspect-ratio: 1 / 1;
          display: none;
        }
        h2 {
          font-size: 32px;
          font-family: 'Moirai One', system-ui;
        }
        &:hover {
          /* background-color: rgba(255, 255, 255, 0.5); */
          background-color: #c9df8a;
          img {
            display: block;
          }
          h2 {
            display: none;
          }
        }
        transition: all 0.3s;
      }

      &:nth-of-type(1) {
        > div:first-of-type {
          border-bottom-right-radius: 4px;
        }
        > div:last-of-type {
          border-top-right-radius: 4px;
        }
      }
      &:nth-of-type(2) {
        > div:first-of-type {
          border-bottom-left-radius: 4px;
        }
        > div:last-of-type {
          border-top-left-radius: 4px;
        }
      }
    }
  }
  /* contact 컴포넌트는 floating-wrapper 의 자식 */
  &.contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    width: 30%;
    height: fit-content;
    position: absolute;
    top: 330vh;

    > div {
      img {
        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
        }
        transition: all 0.3s;
      }
    }
  }
}
/* info 영역 PC->html-wrapper mobile->floating */
.html-wrapper .content.info {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    h3,
    p {
      text-align: right;
      font-family: 'Jua', sans-serif;
      font-weight: 600;
      color: #222;
    }
  }
  h2,
  h3 {
    font-size: 3rem;
    font-family: 'Bagel Fat One', system-ui;
    margin: 0;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.floating-wrapper .content.info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, 15%);

  .information {
    h2 {
      font-size: 2rem;
      font-family: 'Bagel Fat One', system-ui;
      margin: 0;
    }
    margin-bottom: 12px;
  }

  .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    h3,
    p {
      text-align: right;
      font-family: 'Jua', sans-serif;
      font-weight: 600;
      color: #222;
      margin: 0;
      font-size: 1rem;
    }
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 769px) {
    display: none;
  }
}

/* Carousel */
.carousel-wrapper {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  min-height: 0;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  background: #fff;
  /* border: 1px solid #ddd; */
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 9;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  img {
    width: 16px;
    height: 16px;
  }

  &:first-of-type {
    left: 0;
    transform: translate(-50%, -100%);
  }
  &:last-of-type {
    right: 0;
    transform: translate(50%, -100%);

    img {
      transform: rotate(180deg);
    }
  }
}
.carousel-image-wrapper,
.works-content-wrapper {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
.carousel-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }

  transition: opacity 0.5s ease-in-out;
}
