.html-wrapper {
  width: 100vw;
  /* height: 100%; */
  position: absolute;
  top: 0;
  z-index: -999;
}
.floating-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.html-header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 16px;
  z-index: 999;

  h1 {
    /* font-family: 'Coiny', system-ui; */
    font-family: 'Bagel Fat One', system-ui;
    /* text-align: center; */
    font-size: 2rem;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}
h1,
p {
  margin: 0;
}

.section-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;

  &:nth-of-type(1) {
    /* background: linear-gradient(to bottom, #f6ead5, #f6d9d5); */

    .back-title h1 {
      right: 45%;
      gap: 80%;
    }
  }
  &:nth-of-type(2) {
    /* background: linear-gradient(to bottom, #f6d9d5, #bae1ff); */

    .back-title h1 {
      transform: rotate(-15deg);
      right: 0;
      bottom: 0;
    }
  }
  &:nth-of-type(3) {
    /* background: linear-gradient(to bottom, #bae1ff, #c9df8a); */

    .back-title h1 {
      right: 5%;
      transform: rotate(-15deg);
    }
  }
  &:nth-of-type(4) {
    /* background: linear-gradient(to bottom, #c9df8a, #ffd5b3); */

    .back-title h1 {
      width: 100%;
      top: 45%;
      right: 0;
      /* gap: 35%; */
      justify-content: space-between;
      font-size: 14rem;
    }

    @media (max-width: 768px) {
      height: 200vh;
    }
  }
}

.back-title {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  /* z-index: 1; */

  h1 {
    display: flex;
    position: absolute;
    top: 40%;
    right: 50%;
    /* z-index: 9; */
    opacity: 0.2;
    font-family: 'Moirai One', system-ui;
    font-size: 18rem;
    letter-spacing: 1rem;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 60%;
  border-radius: 8px;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  /* z-index: 3; */

  p {
    font-size: 2rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
  .skills-hide {
    display: none;
  }

  /* works 컴포넌트는 floating-wrapper 의 자식 */
  &.works {
    position: absolute;
    top: 220vh;
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, auto));
    gap: 12px;
    z-index: 9;

    > div {
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 24px 24px 12px rgba(0, 0, 0, 0.1);
      }
    }

    h3 {
      font-size: 200%;
      font-family: 'Jua', system-ui;
    }
    p {
      font-size: 100%;
      font-family: 'IBM Plex Sans KR', sans-serif;
    }

    @media (max-width: 1653px) and (min-width: 769px) {
      /* width: 80%; */
      display: grid;
      grid-template-columns: repeat(6, minmax(200px, auto));
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'a a b b c c'
        '. d d e e .';
      gap: 20px;

      > div:nth-of-type(1) {
        grid-area: a;
      }
      > div:nth-of-type(2) {
        grid-area: b;
      }
      > div:nth-of-type(3) {
        grid-area: c;
      }
      > div:nth-of-type(4) {
        grid-area: d;
      }
      > div:nth-of-type(5) {
        grid-area: e;
      }
    }

    @media (max-width: 768px) {
      top: 200vh;
      gap: 16px;
      grid-template-columns: repeat(1, minmax(300px, auto));

      > div {
        height: 300px;

        h3 {
          font-size: 120%;
        }
        p {
          font-size: 90%;
          &:last-of-type {
            font-size: 70%;
          }
        }
      }
    }
  }
  /* contact 컴포넌트는 floating-wrapper 의 자식 */
  &.contact {
    top: 330vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    width: 30%;
    height: fit-content;
    position: absolute;

    > div {
      img {
        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale(1.1);
        }
        transition: all 0.3s;
      }
    }

    @media (max-width: 768px) {
      width: 90%;
      top: 470vh;
    }
  }
}
/* info 영역 PC->html-wrapper mobile->floating */
.html-wrapper .content.info {
  display: flex;
  flex-direction: column;
  gap: 32px;

  > div:last-of-type {
    h3,
    p {
      /* text-align: center; */
      /* font-family: 'Jua', sans-serif; */
      font-family: 'IBM Plex Sans KR', sans-serif;
      color: #000;
      font-size: 20px;
    }
    h3 {
      color: #555;
      font-weight: 600;
    }
    p {
      font-weight: 700;
    }
  }
  h2,
  h3 {
    text-align: center;
    font-size: 32px;
    /* font-family: 'Bagel Fat One', system-ui; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0;
  }
  h2 {
    font-weight: 700;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    text-align: center;
    font-size: 2rem;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.skills-animation {
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.start {
    opacity: 1; /* 특정 지점에 도달하면 리스트를 보이게 함 */

    > div {
      opacity: 1;
      transform: translateY(0);
    }
  }

  div {
    transform: translateY(-200px);
    transition:
      transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }

  /* Sequential animation delays */
  div:nth-of-type(1) {
    transition-delay: 0s;
  }
  div:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  div:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  div:nth-of-type(4) {
    transition-delay: 0.3s;
  }
  div:nth-of-type(5) {
    transition-delay: 0.4s;
  }

  div p {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fafafa;
    margin-top: 5px;

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}

.floating-wrapper .content.info {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, 10%);

  .information {
    h2 {
      font-size: 1.5rem;
      font-family: 'Bagel Fat One', system-ui;
      margin: 0;
    }
    margin-bottom: 12px;
  }

  .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 70%;
    padding: 8px;
    border-radius: 16px;

    h3,
    p {
      text-align: left;
      /* font-family: 'Jua', sans-serif; */
      font-family: 'IBM Plex Sans KR', sans-serif;

      font-weight: 600;
      color: #222;
      margin: 0;
      font-size: 0.9rem;
    }
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 769px) {
    display: none;
  }
}
