#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #ff8b94;
}
